<div class="momentpicker">

  <header class="momentpicker-header">
    <b id="momentpicker-display-month"   ng-bind="displayMoment.format('MMM')"></b>
    <span id="momentpicker-display-year" ng-bind="displayMoment.format('YYYY')"></span>

    <span ng-click="setDisplayMoment(displayMoment.subtract(1, 'year'))">&lt;&lt;</span>
    &nbsp;
    <span ng-click="setDisplayMoment(displayMoment.subtract(1, 'month'))">&lt;</span>
    &nbsp;
    &nbsp;
    <span ng-click="setDisplayMoment(displayMoment.add(1, 'month'))">&gt;</span>
    &nbsp;
    <span ng-click="setDisplayMoment(displayMoment.add(1, 'year'))">&gt;&gt;</span>
    &nbsp;
    &nbsp;
    <a ng-show="hasNgShowAttr &amp;&amp; ngShow" href="" ng-click="ngShow = false">X</a>
  </header>



  <div>
    <div ng-repeat="moment in weekMoments track by moment.toString()" ng-bind="moment.format('dd')" class="datepick-cell datepick-dayname"></div
    ><div ng-repeat="moment in lastMonthMoments track by moment.toString()" ng-bind="moment.format('D')" ng-click="setPickedMoment(moment)" ng-class="getClasses(moment, 'picked today invalid')" class="datepick-cell datepick-day datepick-lastmonth"></div
    ><div ng-repeat="moment in thisMonthMoments track by moment.toString()" ng-bind="moment.format('D')" ng-click="setPickedMoment(moment)" ng-class="getClasses(moment, 'picked today weekend invalid')" class="datepick-cell datepick-day datepick-thismonth"></div
    ><div ng-repeat="moment in nextMonthMoments track by moment.toString()" ng-bind="moment.format('D')" ng-click="setPickedMoment(moment)" ng-class="getClasses(moment, 'picked today invalid')" class="datepick-cell datepick-day datepick-nextmonth"></div>
  </div>
  

</div>